body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
  overflow: hidden;
}
header {
  display: flex;
  min-height: 35px;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  border-bottom: 1px solid #ccc;
}
.extraSmall {
  font-size: medium;
}
.small {
  font-size: large;
}
.large {
  font-size: xx-large;
}
nav {
  display: flex;
  gap: 20px;
  align-items: center;
}
nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: medium;
}
nav a:hover {
  text-decoration: underline;
}
.orderButton {
  background-color: #889b47;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  font-size: medium;
}
.orderButton:hover {
  background-color: white;
  color: #889b47;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: bold;
  font-size: medium;
  box-shadow: inset 0 0 0 2px #889b47;
}
.menuItemButton {
  margin-top: 10px;
  background-color: #d08003;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  font-size: medium;
}
.icon {
  width: 10px;
}
.menuItemButton:hover {
  margin-top: 10px;
  background-color: transparent;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: bold;
  font-size: medium;
  box-shadow: inset 0 0 0 2px white;
}
.logo {
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  height: 100px;
}
.activePage {
  color: #889b47;
}
.activePage:hover {
  text-decoration: none;
}
.mainImageContainer {
  position: relative;
}
.mainImage {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  overflow: hidden;
  display: block;
}
.contactBox {
  text-align: center;
  position: fixed;
  bottom: 0px;
  right: 50%;
  width: 315px;
  transform: translateX(50%);
  background-color: #722a27;
  color: white;
  padding-top: 15px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 15px;
  font-size: 14px;
  line-height: 1.2;
  box-shadow: inset 0 0 0 3px white;
}
.slideshowArrows {
  position: fixed;
  bottom: 190px;
  left: 50%;
  gap: 10px;
  transform: translateX(-45px);
  display: flex;
  width: 100%;
}
.menuItem {
  color: white;
  left: 2.5%;
  padding: 10px;
  position: fixed;
  border-radius: 10px;
  top: 75px;
  width: auto;
}
.dancer1 {
  position: fixed;
  bottom: -15px;
  left: 50%;
  transform: translateX(20%);
  height: 280px;
}
.dancer2 {
  position: fixed;
  bottom: -15px;
  right: 50%;
  transform: translateX(-20%);
  height: 280px;
}
.arrow {
  background-color: #889b47;
  border: none;
  border-radius: 50%;
  color: white;
  font-size: 24px;
  width: 40px;
  height: 40px;
  box-shadow: inset 0 0 0 3px white;
  align-items: center;
  justify-items: center;
}
.arrowIcon {
  width: 25px;
  transform: translateY(-1px);
}
.arrow:hover {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  color: white;
  font-size: 24px;
  width: 40px;
  height: 40px;
  box-shadow: inset 0 0 0 2px white;
}
.hamburger {
  align-items: center;
  display: none;
  font-size: 30px;
  color: black;
}
.slim {
  display: none;
}
@media (max-width: 1023px) {
  .small {
    font-size: xx-large;
  }
  .orderButton {
    font-size: large;
  }
  .large {
    font-size: 40px;
  }
  .menuItem {
    display: none;
  }
  .logo {
    height: 125px;
  }
  .contactBox {
    font-size: large;
    width: 450px;
  }
  .icon {
    width: 17px;
  }
  .dancer1 {
    display: none;
  }
  .dancer2 {
    display: none;
  }
  .slideshowArrows {
    top: 135px;
  }
  .wide {
    display: none;
  }
  .hamburger {
    display: block;
    font-size: 50px;
  }
  .slim {
    display: block;
  }
}
@media (max-width: 550px) {
  nav a,
  .mobile-menu a,
  .order-button {
    font-size: large;
  }
  .large {
    font-size: 30px;
  }
  .menuItem {
    display: none;
  }
  .contactBox {
    font-size: large;
    width: 400px;
  }
  .dancer1 {
    display: none;
  }
  .dancer2 {
    display: none;
  }
  .slideshowArrows {
    bottom: 450px;
  }
  .wide {
    display: none;
  }
  .hamburger {
    display: block;
    font-size: 50px;
  }
  .slim {
    display: block;
  }
}
@media (max-height: 600px) {
  .dancer1 {
    display: none;
  }
  .dancer2 {
    display: none;
  }
  .menuItem {
    display: none;
  }
}
@media (max-height: 560px) {
  .contactBox {
    display: none;
  }
  .dancer1 {
    display: none;
  }
  .dancer2 {
    display: none;
  }
  .slideshowArrows {
    display: none;
  }
  .menuItem {
    display: none;
  }
}
